body {

	color: white;
	font-family: helvetica;
	font-size: 28px;
	padding: 44px;
	background-color: blue;
	border-color: white;
	text-align: right;


}

h1{

	text-align: right;
	padding: 44px;
	font-size: 66px;

}

p {
	color: blue;
	background-color: yellow;
	padding: 44px;
	text-align: left;

}

span{

	color: rgb(0,0,255,0.5);
	font-weight: 300;

}