/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/
body, h2, h1, h3 {
	margin: 0;
}
h1 {
	font-family:'Merriweather';
	color: yellow;
	padding: 12px;
}
h2 {
	font-family: 'Oswald', sans-serif;
	padding: 12px;
	font-style: italic;
	text-align: center;
}
h3 {
	font-family:'Oswald';
	font-weight: 700;
	font-size: 18px;
}
h5 {
	font-family: 'Merriweather', serif;
	font-size: 25px;
	margin: 12px;
}
p {
	font-family: 'Source Sans Pro';
	padding: 22px;
	margin: -12px;
}
button {
	font-family: 'Oswald';
	font-size: 16px;
	font-weight: bolder;
	background-color: #C6C6C6;
	border-radius: 3px;
	padding: 12px;
	margin: 5px;
	width: 100%

}
.buttonyellow {
	background-color: yellow;
} 
nav	{
	font-family: 'Oswald';
	font-size: 12px;
	float: right;
	padding: 10px;
	margin: auto;
}
a {
	color: white;
	font-family: 'Oswald';
	font-size: 16px;
}
header {
	width: 100%;
	background-color: black;
	display: inline-block;
	overflow: auto;
	height: 88px;
}
footer {
	background-color: black;
}
.clear {
	clear: both;
}
.boxes {
	border: 1px;
	width: 100%;
	height: 200px;
	background-color: gray;
	vertical-align: 50%
}
.box0 {
	width: 400px;
	height: 200px;
	background: rgba(255, 255, 255, 0.6);
	padding: 22px;
	padding-bottom: 5px;
	border: 2px;
	margin: auto;
	box-shadow: 1px 1px 5px #000000;
}
.box1 {
	width: 31%;
	height: 250px;
	background-color: lightgray;
	padding: 12px;
	float: left;
}
.box2 {
	width: 32%;
	height: 250px;
	background-color: lightgray;
	padding: 12px;
	float: left;
}
.box3 {
	width: 32%;
	height: 250px;
	background-color: lightgray;
	padding: 12px;
	float: right;
}
.tagline {
	font-family: "Merriweather";
	background: #C6C6C6;
	width: 100%;
	border-top: 2px;
	border-color: yellow;
}
.background {
	width: 100%;
	background: url('../img/coworking.jpg');
	background-size: cover;
	background-position: 50%;

}
#underline { 
	color: gray;
	text-decoration: line-through;
}
#yellow {
	color: yellow;
}
