/*// FONT FAMILY HELPERS :)
// font-family: 'Oswald', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Source Sans Pro', sans-serif;*/
body, h2, h1, h3 {
	margin: 0;
}
h1 {
	font-family:'Merriweather';
	color: yellow;
	padding: 12px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	padding: 12px;
	font-style: italic;
	text-align: center;
}
h3 {
	font-family:'Source Sans Pro';
	font-weight: 700;
	font-size: 18px;
}
h5 {
	font-family: 'Merriweather', serif;
	font-size: 25px;
}
p {
	font-family: 'Source Sans Pro';
}
button {
	font-family: 'Oswald';
	font-size: 14px;
	background-color: #C6C6C6;
	border-radius: 3px;
	padding: 12px;
	margin: 5px;
	width: 100%

}
nav	{
	font-family: 'Oswald';
	font-size: 12px;
	float: right;
	padding: 12px;
}
a {
	color: white;
}
header {
	width: 100%;
	background-color: black;
	overflow: auto;
}
footer {
	overflow: auto;
	background-color: black;
}
.clear {
	clear: both;
}
.boxes {
	border: 1px;
	width: 100%;
}
.box0 {
	width: 400px;
	height: 200px;
	background: rgba(255, 255, 255, 0.2);
	padding: 22px;
	padding-bottom: 5px;
	border: 2px;
}
.box1 {
	width: 30%;
	height: 250px;
	background-color: lightgray;
	padding: 12px;
	float: left;
}
.box2 {
	width: 30%;
	height: 250px;
	background-color: lightgray;
	padding: 12px;
	float: left;
}
.box3 {
	width: 30%;
	height: 250px;
	background-color: lightgray;
	padding: 12px;
	float: right;
}
.tagline {
	font-family: "Merriweather";
	background: #C6C6C6;
	width: 100%;
	border-top: 2px;
	border-color: yellow;
}
.background {
	width: 100%;
	background: url('../img/coworking.jpg');
	background-size: cover;
	background-position: 50%;
}
#underline { 
	color: gray;
}
