p {
	color: white;
	padding: 20px;

}
.lorem {
	background-color: red;
	padding: 22px;
	margin: 33px;
	text-align: center;
	display: block;

}


#link {

	font-color: white;
	background-color: black;
	text-align: center;
	padding: 200px;
	font-size: 66px;
	word-spacing: 22px;
}
#one {
	color: blue;
}

#two {
	color: green;
	background-color: pink;

}

#three {
	color: yellow;
	background-color: blue;
}
