.container {
	align-content: left;
	position: relative;
	margin: auto;
	max-width: 940px;
	padding: 54px;
	font-family: Lato;
	font-weight: 300;
	line-height: 1.5
	border: solid, left, 6px, #dddddd;
}
header {
	height: 300px;
	clear: both;
}
nav {
	color: #dddddd;
	font-size: 22px;
	clear: both;
	margin: auto;
	display: inline-block;
}
article {
	line-height: 1.5;
}

p::first-letter {
	font-size: 74px;
	line-height: 60px;
	color: lightgray;
	padding-top: 1px;
	padding-right: 5px;
	float: left;	
}
img {
	width: 100%;
}
main {
	float: left;
	width: 70%;
	margin-right: 20px;
}
.aside {
	display: inline-block;
	float: right;
	width: 20%;
}
.links {
	color: #bbbbbb; 
	max-width: 100%;
	margin-bottom: 20px;
}
#navigation a {
	display: inline-block;
	color: #dddddd;
	background: black;
	padding: 11px;
	text-align: left;
}
a {
	color: red;
}
a:hover {
	color: black;
}
h1 {
	color: red;
	font-size: 66px;
	font-weight: 300;
	margin-bottom: 2px;
}
h2 {
	color: black;
	font-size: 33px;
	font-weight: 300;
	margin-top: 2px;
}
h3 {
	color: black;
	font-size: 33px;
	font-weight: 300;
	margin-bottom: 10px;
	margin-top: 10px;
}
h4 {
	color: gray;
}
li {
	color: gray;
}
span {
	color: red;
}
.side-text {
	font-size: 14px;
	line-height: 18px;
}

.list {
	color: red;
	padding: 15px;
	font-size: 14px;
	line-height: 18px;
}
.continues {
	color: red;
	text-align: right;
	font-weight: 700;
	margin-bottom: 20px;
} 
.footnav {
	color: gray;
}
#date {
	color: lightgray;
}
#navigation {
	color: lightgray;
}
hr {
	color: lightgray;
}
footer {
	color: red;
	clear: both;
	}
